{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Ma boutique{% endblock %}

{% block body %}

<div class="container">

<i class="fas fa-unlock fa-3x pull-right text-warning"></i>

{# <h1><img src="{{ asset('assets/img/lock-1.png') }}" alt="Photo de profil" style="width: 70px; height: 70px; border-radius:100%"> Modifier mon mot de passe<h1> #}
<h1 class="text-warning"> Modifier mon mot de passe<h1>
<div class="dropdown-divider mb-5"></div>

{# <a href="{{ path('account') }}">Retourner à mon compte</a><br/> #}

<div class="col-md-6 bg-light p-4 rounded-lg m-auto">

{% if notification %}
    <div class="alert alert-info">{{ notification }} </div>
{% endif %}

{{ form_start(form) }}

<div class="col-md-10 m-auto">{{ form_row(form.old_password) }}</div>
<div class="col-md-10 m-auto">{{ form_row(form.new_password) }}</div>
<div class="col-md-12">
<div class="col-md-5 m-auto">{{ form_row(form.submit) }}</div>
</div>
{{ form_end(form) }}

</div>

<div class="dropdown-divider mt-5"></div>

        <div class="container mb-5">
            <a href="{{ path('account_profile') }}" class="text-light text-left" style="font-size: 1.2rem; text-decoration: none;"><i class="fas fa-arrow-circle-left"></i> RETOUR</b></a>
        </div>

{# <hr class="mt-4">
<a href="{{ path('account') }}"><b class="text-left text-dark"><img src="{{ asset('assets/img/back-arrow.png') }}" alt="Mes commandes"> Retour</b></a> #}
{# <a href="{{ path('account') }}">Retour</a><br/> #}

</div>

{% endblock %}