{# <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href=""> <img src="{{ asset('assets/img/customer-service.png') }}" alt="icône service consommateur"> <b>Support 24h/24 et 7j/7</b></a>
        <h2>SUPPORT</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="{{ asset('assets/img/delivery.png') }}" alt="icône colis"> <b>Retours sans frais sous 30 jours</b></a>
        <h2>LIVRAISON</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="{{ asset('assets/img/credit-card.png') }}" alt="icône carte de crédit"> <b> Paiement sécurisé</b></a>
        <h2>SECURITE</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
</div> #}


<div class="container-fluid col-md-12 border pt-5 alert alert-success">
    <div class="row">
      <div class="col-lg-4 text-center">
        <a href=""> <img src="{{ asset('assets/img/customer-service.png') }}" alt="icône service consommateur"></a>
        <h2>SUPPORT</h2>
        <h4 class="text-primary mb-5">Support 24h/24 et 7j/7</h4>
        {# <p><a class="btn btn-secondary btn-sm" href="#" role="button">View details &raquo;</a></p> #}
      </div>
      <div class="col-lg-4 text-center">
        <a href="#"><img src="{{ asset('assets/img/delivery.png') }}" alt="icône colis"></a>
        <h2>LIVRAISON</h2>
        <h4 class="text-primary mb-5">Retours sans frais sous 30 jours</h4>
        {# <p><a class="btn btn-secondary btn-sm" href="#" role="button">View details &raquo;</a></p> #}
      </div>
      <div class="col-lg-4 text-center">
        <a href="#"><img src="{{ asset('assets/img/credit-card.png') }}" alt="icône carte de crédit"></a>
        <h2>SECURITE</h2>
        <h4 class="text-primary">Paiement sécurisé</h4>
        {# <p><a class="btn btn-secondary btn-sm" href="#" role="button">View details &raquo;</a></p> #}
      </div>
    </div>
</div>