{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container-fluid col-10 alert alert-warning rounded-lg p-4 my-5">
<div class="row">
<div class="col-md-4">
    <img src="{{ asset('assets/img/img-error-404.png') }}" alt="Error 404">
</div>
<div class="col-md-8 m-auto text-dark">
    <h1><b>OUPS ! LA PAGE RECHERCHEE N'EXISTE PAS</b><h1>
    <p>Code de l'erreur : <b>{{ status_code }}</b></p>
    <p>Message de l'erreur : <b>{{ status_text }}</b></p>
    <p class="mt-5"><i>Nous vous proposons de retourner sur l'accueil du site ou directement sur la boutique en ligne pour retrouver vos produits préférés !</i></p>
    <div class="text-center">
    <a href="{{path('home')}}" class="btn btn-primary mr-5"><b>Retour à l'accueil</b></a>
    <a href="{{path('products')}}" class="btn btn-warning text-dark"><b>Boutique en ligne</b></a>
    </div>
</div>
</div>
</div>

{% endblock %} 